@import "../../../style.scss";

.home {
    @include themify() {
        // background-color: themed("bg");
        // color: themed("textColor");
        padding: 10px;
        .chartBorder {
            margin: 20px;
            -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
            box-shadow: 0px 0px 11px 1px themed("boxShadow");
            border-radius: 10px;
        }
        .homewidgets {
            display: flex;
            margin: 20px;
        }
    }
}