@import '../../../style.scss';
.product {
    padding: 20px;
    @include themify() {
        .titleContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 80px;
                border: none;
                border-radius: 5px;
                color: white;
                padding: 5px;
                font-weight: bold;
                background-color: themed("logo");
                font-size: 16px;
                cursor: pointer;
            }
        }

        .productTop {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .topLeft{
                flex: 1;
                padding: 5px;
                margin: 20px;
                -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                box-shadow: 0px 0px 11px 1px themed("boxShadow");
                border-radius: 10px;
            }
            .topRight {
                flex: 1;
                // height: 200px;
                padding: 20px;
                margin: 20px;
                -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                box-shadow: 0px 0px 11px 1px themed("boxShadow");
                border-radius: 10px;
                .productInfoTop {
                    display: flex;
                    align-items: center;
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin-right: 20px;
                    }
                    span {
                        font-weight: 600;
                    }
                }
                .productInfoBottom {
                    margin-top: 10px;
                    .productInfoItem {
                        width: 150px;
                        display: flex;
                        justify-content: space-between;
                        .infoKey {

                        }
                        .infoValue {
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .productBottom {
            padding: 20px;
            margin: 20px;
            -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
            box-shadow: 0px 0px 11px 1px themed("boxShadow");
            border-radius: 10px;
            form {
                display: flex;
                justify-content: space-between;
                .formLeft {
                    display: flex;
                    flex-direction: column;

                    label {
                        margin-bottom: 10px;
                        color: themed("textColorSoft");
                    }

                    input {
                        margin-bottom: 10px;
                        border: none;
                        border-bottom: 1px solid themed("boxShadow");
                        background: none;
                        // background-color: themed("onHover");
                        color: themed("textColor");

                    }
                    input::placeholder {
                        color: themed("inputPlaceHolder");
                    }
                    select {
                        margin-bottom: 10px;
                        border-radius: 10px;
                        padding: 2px;
                        color: themed("textColor");
                        background-color: themed("onHover");
                    }
                }
                .formRight {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .productUpload {
                        display: flex;
                        align-items: center;
                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 10px;
                            object-fit: cover;
                            margin-right: 20px;
                        }
                    }
                    button {
                        border: none;
                        border-radius: 5px;
                        color: white;
                        padding: 5px;
                        font-weight: bold;
                        background-color: themed("logo");
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}