@import '../../../style.scss';
.product {
    padding: 20px;
    @include themify() {
        .titleContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 20px;

            button {
                width: 80px;
                border: none;
                border-radius: 5px;
                color: white;
                padding: 5px;
                font-weight: bold;
                background-color: themed("logo");
                font-size: 16px;
                cursor: pointer;
            }
        }

        .productTop {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .topLeft{
                flex: 1;
                padding: 5px;
                margin: 20px;
                -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                box-shadow: 0px 0px 11px 1px themed("boxShadow");
                border-radius: 10px;
            }
            .topRight {
                flex: 1;
                // height: 200px;
                padding: 20px;
                margin: 20px;
                -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                box-shadow: 0px 0px 11px 1px themed("boxShadow");
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;
                .productInfoTop {
                    display: flex;
                    align-items: center;
                    flex: 5;
                    img {
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin-right: 20px;
                        -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                        box-shadow: 0px 0px 11px 1px themed("boxShadow");
                    }
                    span {
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
                .productInfoBottom {
                    margin-top: 10px;
                    flex: 2;
                    .productInfoItem {
                        // width: 150px;
                        display: flex;
                        justify-content: space-between;
                        .infoKey {

                        }
                        .infoValue {
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .bottomContainer {
            display: flex;
            // align-items: center;
            .productBottom {
                padding: 20px;
                margin: 20px;
                -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                box-shadow: 0px 0px 11px 1px themed("boxShadow");
                border-radius: 10px;
                flex: 2;
                form {
                    display: flex;
                    justify-content: space-between;
                    .formLeft {
                        margin: auto 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        // flex-wrap: wrap;
    
                        label {
                            margin-bottom: 10px;
                            margin-right: 10px;
                            // margin-left: 10px;
                            color: themed("textColorSoft");
                            
                        }
    
                        input {
                            margin-bottom: 10px;
                            border: none;
                            border-bottom: 1px solid themed("boxShadow");
                            background: none;
                            // background-color: themed("onHover");
                            color: themed("textColor");
    
                        }
                        input::placeholder {
                            color: themed("inputPlaceHolder");
                        }
    
                        textarea {
                            border: none;
                            background: none;
                            border-bottom: 1px solid themed("textColorSoft");
                            color: themed("textColor");
                            resize: none;
                        }
    
                        select {
                            margin-bottom: 10px;
                            border-radius: 10px;
                            padding: 2px;
                            color: themed("textColor");
                            background-color: themed("onHover");
                        }
                    }
                    .formRight {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .productUpload {
                            display: flex;
                            align-items: center;
                            img {
                                width: 100px;
                                height: 100px;
                                border-radius: 10px;
                                object-fit: cover;
                                margin-right: 20px;
                                -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                                box-shadow: 0px 0px 11px 1px themed("boxShadow");
                                // margin-bottom: 15px;
                            }
                        }
                    }
                }
            }

            .trailer {
                flex: 3;
                -webkit-box-shadow: 0px 0px 11px 1px themed("boxShadow"); 
                box-shadow: 0px 0px 11px 1px themed("boxShadow");
                border-radius: 10px;
                padding: 20px;
                margin: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                // .trailerPlayer {
                    
                // }
            }

        }
        button {
            border: none;
            border-radius: 5px;
            color: white;
            padding: 5px;
            font-weight: bold;
            background-color: themed("logo");
            cursor: pointer;
        }
    }
}