@import "../style.scss";
    .container {
        display: flex;
    }

    .page {
        flex: 6;
        @include themify() {
            background-color: themed("bg");
            color: themed("textColor");
        }
    }

    .link {
        color: inherit;
        text-decoration: none;             
     }
    
